importFrom(RColorBrewer, brewer.pal)
importFrom("graphics", "abline", "arrows", "boxplot", "stripchart")
importFrom("stats", "as.formula", "coef", "formula", "rnbinom",
             "rnorm", "terms.formula")
importFrom("SummarizedExperiment", "colData", "mcols")
importFrom("DESeq2", "design", "plotCounts", "DESeqDataSetFromMatrix")
importFrom("GenomicRanges", "GRanges")
importFrom("IRanges", "IRanges")

export(makeComplexDESeqData)
export(plotCoefficients)
